APP_NAME=Fictional Octo Engine
APP_VERSION=0.9.1
FLASK_APP=wsgi.py
FLASK_DEBUG=1
AUTH0_CLIENT_ID=your-auth0-client-id
AUTH0_CLIENT_SECRET=your-auth0-client-secret
AUTH0_DOMAIN=your-auth0-domain
SECRET_KEY=your-super-secret-key
